{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="clearfix">
  <img src="{% static 'admin/img/logo.jpeg' %}" style="width: 60px; float: left;">
  <a class="btn btn-primary right mt-3 ml-2" href="{% url 'calendarapp:calendar' %}">Calendario</a>
</div>

<form method="post" class="mt-5">
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr><td colspan="2" class="pt-3"><button type="submit" class="btn btn-info right"> Asistire </button></td></tr>
  </table>
</form>
{% endblock %}