{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
    <div class="clearfix">
        <img src="{% static 'admin/img/logo.jpeg' %}" style="width: 60px; float: left;">
        <span class="left mt-3 ml-2" style="font-size: 20px;">Bienvenido, {{ request.user }}</span>
        <a class="btn btn-info right mt-3" href="{% url 'logout' %}"> Salir </a>
        <a class="btn btn-info right mr-2 mt-3" href="{% url 'calendarapp:calendar' %}?{{ next_month }} "> Siguiente Mes >> </a>
        <a class="btn btn-info right mr-2 mt-3" href="{% url 'calendarapp:calendar' %}?{{ prev_month }}"> << Mes Anterior </a>
        <a class="btn btn-info right mr-2 mt-3" href="{% url 'calendarapp:event_new' %}"> + Nuevo Evento </a>
    </div>
{% else %}
    <div class="clearfix">
        <img src="{% static 'admin/img/logo.jpeg' %}" style="width: 60px; float: left;">
        <a class="btn btn-info right mr-2 mt-3" href="{% url 'calendarapp:calendar' %}?{{ next_month }} "> Siguiente Mes >> </a>
        <a class="btn btn-info right mr-2 mt-3" href="{% url 'calendarapp:calendar' %}?{{ prev_month }}"> << Mes Anterior </a>
    </div>
{% endif %}
<div>
    {{ calendar }}
</div>
{% endblock %}